<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>All Blog Posts</h2>
    <div id="posts"></div>

    <div id="create_form">
        <label for="title">Title: </label>
        <input type="text" placeholder="" id="title">

        <label for="description">Description: </label>
        <input type="text" placeholder="" id="description">

        <label for="author-select">Choose an author:</label>
        <select id="author-select">
{#          <option value="volvo">Volvo</option>#}
        </select>

    </div>


</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetchPosts()
    })

    function fetchPosts() {
        fetch('posts/')
            .then(response => response.json())
            .then(data => {
                const container =  document.getElementById('posts')
                data.forEach(post => {
                    const postElement = document.createElement('div')
                    postElement.className = ''

                    console.log(post)
                    postElement.innerHTML=
                    `
                        <h2>title: ${post.title}</h2>
                        <h3>author: ${post.author}</h3>
                        <p>description: ${post.description}</p>
                        <p>created at: ${post.created_at}</p>
                        <p>updated at: ${post.updated_at}</p>
                        <hr>
                    `

                    container.appendChild(postElement)

                })
            })
    }

    function f() {

    }

</script>

</html>