<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>All Blog Posts</h2>
    <div id="posts"></div>

    <form id="create_form" method="POST">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" placeholder="" id="title">

        <label for="description">Description: </label>
        <input type="text" placeholder="" id="description">

        <label for="author-select">Choose an author:</label>
        <select id="author-select"></select>

        <button type="submit" style="width: 50px; height: 50px">Submit</button>

    </form>


</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetchPosts()
        fetchAuthors()
    })

    function fetchPosts() {
        fetch('posts/')
            .then(response => response.json())
            .then(data => {
                const container =  document.getElementById('posts')
                container.innerHTML = ''
                data.forEach(post => {
                    const postElement = document.createElement('div')
                    postElement.className = ''

                    console.log(post.author)
                    postElement.innerHTML=
                    `
                        <h2>title: ${post.title}</h2>
                        <h3>author: ${post.author}</h3>
                        <p>description: ${post.description}</p>
                        <p>created at: ${post.created_at}</p>
                        <p>updated at: ${post.updated_at}</p>
                        <hr>
                    `

                    container.appendChild(postElement)

                })
            })
    }

    function fetchAuthors() {
        fetch('/authors/')
            .then(response => response.json())
            .then(data =>{
                const authorContainer =  document.getElementById('author-select')
                 data.forEach(op => {
                     // const authorElement = document.createElement('option')
                     // authorElement.className = ''
                     const my_op =
                         `
                        <option value="${op.id}">${op.name}</option>
                     `


                     // authorContainer.appendChild(my_op)
                     authorContainer.innerHTML += my_op
                 })
            })

    }


    const create_form = document.getElementById('create_form')
    create_form.addEventListener("submit", (e) => {
        e.preventDefault()

        const title = document.getElementById('title').value
        const description = document.getElementById('description').value
        const authorSelect = document.getElementById('author-select').value

        // console.log(title)
        // console.log(description)
        // console.log(authorSelect)

        const formData = new FormData();
         formData.append('title', title)
        formData.append('description', description)
        formData.append('author', authorSelect)

        //console.log(formData['authroSelect'])
//
        //      // Log FormData entries
        //for (let pair of formData.entries()) {
        //    console.log(`${pair[0]}: ${pair[1]}`);
        //}

        fetch('create_post/', {
            method:'POST',
            body:formData
        })
        .then(response => response.json())
        .then(data =>{
            alert("added a new post!")
            fetchPosts()
        })
        .catch(e => console.error(e))

    })

</script>

</html>